/*
--text: #d1d7cc;
--background: #0d0d1f;
--primary: #444186;
--secondary: #dddbff;
--accent: #ebd94d; 
*/

body,
html {
  margin: 0;
  padding: 0;
}

body * {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #0d0d1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

p,
h1 {
  color: #d1d7cc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  height: 10%;
}

h1 {
  font-size: 3vw;
}

.container {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.container > * {
  margin: 0;
  padding: 0;
}

.container > section {
  width: 46%;
  height: 98%;
  display: flex;
  justify-content: center;
  animation-duration: 1.2s;
  animation-name: sectionOnLoad;
}

@keyframes sectionOnLoad {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

img {
  width: 60%;
  transition: 0.5s;
}

img:hover {
  -webkit-box-shadow: 0px 0px 67px 8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 67px 8px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 67px 8px rgba(66, 68, 90, 1);
  border-radius: 3rem;
}

footer {
  margin: 0;
  position: absolute;
  display: flex;
  bottom: 0;
  height: 10%;
  flex-direction: column;
  justify-content: end;
}

footer > * {
  margin: 0.3vw;
}

@media (max-width: 1280px) {
  img {
    width: auto;
    height: 46vw;
  }
}

@media (max-width: 1024px) {
  body {
    justify-content: start;
  }
  header {
    height: 5%;
  }
  h1 {
    font-size: 5vw;
    text-align: center;
  }
  .container {
    margin: 0;
    margin-top: 10vw;
  }
  img {
    height: 52vw;
    width: auto;
  }
}

@media (max-width: 600px) {
  header {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 5vw;
    background-color: #444186;
    /* border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem; */
    padding: 5vw;
  }
  h1 {
    width: auto;
    font-size: 7vw;
    margin: 0;
    text-align: center;
  }
  .container {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container > section {
    width: 80%;
    margin: 2vw;
  }
  img {
    height: auto;
    margin: 0;
    object-fit: cover;
    width: 100%;
    border-radius: 0.3rem;
  }
  footer {
    margin: 0;
    text-align: center;
    width: auto;
    position: static;
  }
  footer > p {
    margin: 0;
    margin-top: 4vw;
  }
}
