/*
--text: #d1d7cc;
--background: #0d0d1f;
--primary: #444186;
--secondary: #dddbff;
--accent: #ebd94d; 
*/

body {
  background-color: #0d0d1f;
}

button,
p,
h1,
h2,
td,
h3,
h4,
h5,
li {
  color: #d1d7cc;
}

a {
  color: #551a8b;
}

.big-screen-header {
  background-color: #444186;
}
.mobile-header {
  background-color: #444186;
}

.popup-menu {
  background-color: #444186;
}

button {
  background-color: #ebd94d;
  border: 0.2rem solid #fec008;
  color: #adab9d;
}

main > aside {
  background-color: rgba(44, 41, 86, 200);
}

main > aside > h2 {
  background-color: #444186;
}

main > aside > .textMenager > h3 {
  background-color: #3c3973;
}

main > aside > .textMenager > p {
  background-color: #3c3973;
}

section {
  background-color: rgba(44, 41, 86, 200);
}

.banner > h2 {
  background-color: #444186;
}

tr:nth-child(even) {
  background-color: #4c4895;
}

tr:nth-child(2n + 3) {
  background-color: #3c3973;
}

th {
  background-color: #ebd94d;
  color: #551a8b;
}

article {
  background-color: #3c3973;
}

.article-header {
  background-color: #4c4895;
}

.shorten {
  background-color: #4c4895;
}

.change {
  background-color: #4c4895;
}

footer {
  background-color: rgba(44, 41, 86, 200);
}

.name, .email, .content {
  border-bottom: solid #ebd94d 0.2vw;
}