/*
--text: #eae9fc;
--background: #010104;
--primary: #ff4655;
--secondary: #050082;
--accent: #0600c2;
--secon-bg: #373335;
--cool: #340f14;
*/

body {
  background-color: #010104;
}

button,
p,
h1,
h2,
th,
td,
h3,
h4,
h5,
li,
a {
  color: #eae9fc;
}

.big-screen-header {
  background-color: #ff4655;
}
.mobile-header {
  background-color: #ff4655;
}

.popup-menu {
  background-color: #ff4655;
}

button {
  background-color: #373335;

  border: 0.2rem solid #c3c1e7;

  color: #eae9fc;
}

main > aside {
  background-color: #201e1f;
}

main > aside > h2 {
  background-color: #373335;
}

main > aside > .textMenager > h3 {
  background-color: #373335;
}

main > aside > .textMenager > p {
  background-color: #373335;
}

section {
  background-color: #201e1f;
}

.banner > h2 {
  background-color: #373335;
}

tr:nth-child(even) {
  background-color: #282579;
}

tr:nth-child(2n + 3) {
  background-color: #46181e;
}

th {
  background-color: #b63b45;
  color: #dad8d0;
}

article {
  background-color: #373335;
}

.article-header {
  background-color: #4b4548;
}

.shorten {
  background-color: #4b4548;
}

.change {
  background-color: #4b4548;
}

footer {
  background-color: #201e1f;
}

.name,
.email,
.content {
  border-bottom-color: #ff4655;
}
